<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes">
            <span class="me-2">CLIENTES</span>
            <i class="fas fa-address-card" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">
            <span class="me-2">PRODUCTOS</span>
            <i class="fa fa-cubes" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/facturacion">
            <span class="me-2">FACTURACIÓN</span>
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cerrar-sesion">
            <span class="me-2">CERRAR SESIÓN</span>
            <i class="fa fa-power-off" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
