<div class="modal" tabindex="-1" *ngIf="cliente">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Cliente</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-control" [(ngModel)]="cliente.nombre" />
          </div>
          <div class="col-md-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" id="apellidos" class="form-control" [(ngModel)]="cliente.apellidos" />
          </div>
          <div class="col-md-6">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" id="dni" class="form-control" [(ngModel)]="cliente.dni" />
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="cliente.email" />
          </div>
          <div class="col-md-6">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" id="telefono" class="form-control" [(ngModel)]="cliente.telefono" />
          </div>
          <div class="col-md-6">
            <label for="calle" class="form-label">Dirección</label>
            <input type="text" id="direccion" class="form-control" [(ngModel)]="cliente.direccion" />
          </div>
          <div class="col-md-6">
            <label for="pais" class="form-label">País</label>
            <input type="text" id="pais" class="form-control" [(ngModel)]="cliente.pais" />
          </div>
          <div class="col-md-6">
            <label for="provincia" class="form-label">Provincia</label>
            <input type="text" id="provincia" class="form-control" [(ngModel)]="cliente.provincia" />
          </div>
          <div class="col-md-6">
            <label for="ciudad" class="form-label">Ciudad</label>
            <input type="text" id="ciudad" class="form-control" [(ngModel)]="cliente.ciudad" />
          </div>
          <div class="col-md-6">
            <label for="codigoPostal" class="form-label">Código Postal</label>
            <input type="text" id="codigoPostal" class="form-control" [(ngModel)]="cliente.codigo_postal" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
