#country-prefix {
  width: 100%; /* Asegura que el selector ocupe el ancho completo de su contenedor */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde de color gris claro */
  font-size: 16px; /* Tamaño de la fuente */
  margin-bottom: 10px; /* Margen inferior */
  margin-right: 0px;
  background: url("data:image/png;base64,...") no-repeat right 0.75rem
      center/1.5em auto,
    white; /* Flecha de selección personalizada */
  -webkit-appearance: none; /* Elimina la apariencia por defecto de los navegadores */
  -moz-appearance: none; /* Elimina la apariencia por defecto de los navegadores */
  appearance: none; /* Elimina la apariencia por defecto de los navegadores */
}

.form-control {
  margin-top: 0; /* Elimina el margen superior en campos de formulario */
  width: 100%; /* Hace que los campos ocupen el 100% del contenedor padre */
  box-sizing: border-box; /* Incluye el padding y border en el cálculo del ancho */
}

form .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra de enfoque para campos de formulario */
  border-color: #80bdff; /* Color del borde en enfoque */
}

form .form-control::placeholder {
  color: #6c757d; /* Color del texto del placeholder */
}
