@import "~bootstrap/dist/css/bootstrap.css";

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

.menu-container ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-container ul li {
    margin-right: 10px;
}

#logout-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#logout-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout-popup.hidden {
    display: none;
}

#logout-popup p {
    margin: 0 0 20px;
}

#logout-popup button {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}