<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio de sesión</title>
    <style>
      
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>Iniciar sesión</p>
        <form>
          <input type="text" placeholder="Nombre de usuario">
          <input type="password" placeholder="Contraseña">
          <input type="submit" value="Iniciar sesión">
        </form>
      </div>
    </div>
  </body>
</html>

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .box {
    width: 400px;
    padding: 80px;
    background-color: lightgray;
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }