.nav-item {
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.nav-item:hover {
    background-color: #2b8cc4;
    border-radius:20px;
    color: white;
}


