<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <!-- Botón de menú en dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Elementos de menú -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/clientes">
                        CLIENTES
                        <i class="fas fa-users ml-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productos">
                        PRODUCTOS
                        <i class="fas fa-boxes-stacked ml-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/facturacion">
                        FACTURACIÓN
                        <i class="fas fa-euro-sign ml-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tareas">
                        TAREAS
                        <i class="fas fa-list ml-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        CERRAR SESIÓN
                        <i class="fa-solid fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>