<div class="modal-header">
    <h4 class="modal-title">¿Seguro que quiere cerrar sesión?</h4>
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Seleccione "Sí" para cerrar sesión o "No" para cancelar.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger">Sí</button>
    <button type="button" class="btn btn-secondary">No</button>
    <button type="button" class="btn btn-secondary">Cancelar</button>
</div>